body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

header {
    padding: 25px;
    color: rgb(255, 252, 251);
    background-color: rgb(36, 179, 55);
}



